body {
  transition: background-color .5s;
  margin-left: 3.5vw;
  background-color: transparent;
  height: 100%
}

a span {
  color: #818181;
}

.sidenav {
  height: 100%;
  width: 3vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 3vh;
}

.expand {
  width: 12vw;
}

.naviItem {
  color: #444b81;
  white-space: nowrap;
}

.naviItem:hover {
  color: #d5dcfc;
}

.naviItem a {
  white-space: nowrap;
  transition: 0.3s;
}

.naviItem span {
  padding: 0.3vh 0.5vw 0.5vh 1vw;
  white-space: nowrap;
  color: inherit;
  position: relative;
  bottom: -0.35vh
}

.naviItem a, .naviItem span {
  color: inherit;
  display: inline-block;
  cursor: pointer;
  font-size: 1.4vw;
  font-family: "Glyphicons Halflings", "Bell MT", serif;
  text-decoration: none;
}

.dark {
  background-color: black;
}

.clock {
  font-size: 13vw;
  color: #bcbcbc;
  margin: 0 0 0 4vw;
  transition: 0.5s;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

.calendar {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  width: 30vw;
  margin: 2vh 1.2vw 0 0;
  transition: 0.5s;
}

.calendar .month {
  padding: 0.8vh 0 0.5vw 0;
  background: #0b113a;
  color: #bcbcbc;
  border-radius: 2vw 2vw 0 0;
}

.month ul {
  padding: 0;
  margin: -0.5vh;
  font-size: 1.1vw;
}

.month ul li {
  color: #bcbcbc;
  font-size: 2.2vw;
  letter-spacing: 0.3vw;
}

.weekdays {
  margin: 0;
  background-color: #0f0f0f;
  font-size: 1.2vw;
  padding: 0 0.4vw 0 0;
}

.weekdays li {
  display: inline-block;
  width: 4.05vw;
  color: #5b5b5b;
  text-align: center;
}

.days {
  padding: 0.4vw 0;
  background: #171819;
  margin: 0;
  border-radius: 0 0 2vw 2vw;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 4.05vw;
  text-align: center;
  font-size: 1.2vw;
  color: #878787;
}

.days li .active {
  border-radius: 25px;
  padding: 0.7vh;
  background: #0c0d3d;
  color: #cacaca !important;
}

.days li .inactive {
  color: #404040 !important;
  font-size: 0.9vw;
}

.weather {
  position: absolute;
  top: 35vh;
  right: 0;
}

.localeSelector {
  font-size: calc(8px + 0.4vw);
  position: absolute !important;
  right: 1.2vh;
  width: calc(50px + 5vw) !important;
}

.notFound-lg {
  width: 80vw;
  height: 47vw;
  transition: 1s;
}

.notFound-med {
  width: 40vw;
  height: 24vw;
  transition: 1s;
}

.comic {
  width: 57vw;
  margin-top: -2vh;
}

.comic img {
  max-height: 28vw;
}


.quote-top {
  font-size: 1.5vw;
  width: 60vw;
  color: #565555;
}

.quote-bottom {
  font-size: 1.5vw;
  color: #cccccc;
  position: absolute;
  bottom: 0;
}

.controls {
  position: relative;
}

.br-slider {
  display: inline-block;
  margin: auto;
}

.colors {
  display: inline-block;
  text-align: right;
  height: 180px;
  top: 27px;
  position: absolute;
}

.br-slider {
  position: relative;
  left: 75px;
  width: 48px;
  min-height: 30px;
  text-align: right;
}

.br-slider input{
  -webkit-appearance: slider-vertical;
  height: 150px;
}

.br-slider label{
  position: relative;
  top:90px;
  left: 10px
}

.rgb-sliders {
  margin: 12px;
  position: relative;
  height: 150px;
  left: 80px;
  top: 25px;
}

.rgb-sliders input {
  width: 220px;
}

.rgb-sliders .colorTest {
  width: 220px;
  height: 15px;
  border-radius: 25px;
}

.rgb-sliders label {
  position: relative;
  left:105px;
}

.slider {
  display: inline-block;
  width: 270px;
}

.clock-new {
  font-family: 'Prime Regular', serif;
  font-size: calc(10*(1vh + 1vw));
  color: white;
}

.date-new {
  font-family: 'Prime Regular', serif;
  font-size: calc(3*(1vh + 1vw));
  color: white;
  position: relative;
  bottom: calc(3*(1vh + 1vw));
}


.date-new .month{
  position: relative;
  bottom: calc(1*(1vh + 1vw));
}

.date-new .text{
  display: inline-block;
}

.date-new .day{
  font-size: calc(7*(1vh + 1vw));
  position: relative;
  top: calc(-1.1*(1vh + 1vw));
  left: calc(0.5*(1vh + 1vw));
  color: #9199ed;
  display: inline-block;
}

.weather-new {
  position: absolute;
  top: calc(1*(1vh + 1vw));
  right: calc(10 *(1vh + 1vw));
}

.first-line > div{
  display: inline-block;
  position: absolute;
}

.weather-new .weather-icon{
  width: calc(13*(1vh + 1vw));
  right: -5vh;
  top: 2vh;
}

.weather-new .weather-text{
  font-family: 'Prime Regular', serif;
  font-size: calc(5.2*(1vh + 1vw));
  color: white;
}

.weather-chart .recharts-cartesian-axis-tick text{
  fill: white !important;

}

.weather-chart {
  position: absolute; /* or absolute */
  top: 50%;
  right:40%;
}

.future-weather .icon{
  width: calc(4*(1vh + 1vw));
}

.future-weather .text{
  color: white;
  font-size: calc(1.8*(1vh + 1vw));
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  position: relative;
  bottom: calc(0.3*(1vh + 1vw));

 }

.future-weather .day > div{
  display: inline-block;
}

.future-weather .day {
  width: auto;
}

.future-weather {
  text-align: right;
  margin-right: calc(2*(1vh + 1vw));
  position: absolute;
  right:0;
  top: calc(10*(1vh + 1vw));
}


.carForm label {
  padding-right: 5px;
}
.carForm input[type=text], select {
  width: 70%;
  padding: 2px 5px;
  margin: 2px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.carForm input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.carForm input[type=submit]:hover {
  background-color: #45a049;
}

.carForm input[type=submit]:disabled {
  background-color: rgb(160, 160, 153);
  cursor: default;
}

.carForm {
  width: 20%;
  background-color: #f2f2f2;
  padding: 9px;
}




@font-face {
  font-family: 'Prime Regular';
  font-style: normal;
  font-weight: normal;
  src: url("../styles/Roboto-Light.ttf") format("truetype");
}

@media (max-width: 500px) {
  body {
    transition: background-color .5s;
    margin-left: 15vw;
    background-color: transparent;
    height: 100%
  }

  .sidenav {
    width: 10vw;
  }

  .expand {
    width: 38vw;
  }

  .naviItem span {
    padding-top: 3vh;
    bottom: -0.35vh
  }

  .naviItem a, .naviItem span {
    font-size: 25px;
  }

  .carForm {
    width: 90%;
  }
}
